<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    <% include ../partials/headerafterlogin %>
<body>
    <strong>Item:</strong>: <%= payment.item %><br>
    <strong>Price:</strong>: <%= payment.price %>
    <form action="/payment" method="post">
        <input type="submit" value="Buy">
    </form>
    <% include ../partials/footer %>
    <% include ../partials/javascript %>
</body>
</html>
